<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
       <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
       <!--xmlns:contxt="http://www.springframework.org/schema/context"-->
       <!--xmlns:mvc="http://www.springframework.org/schema/mvc"-->
       <!--xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">-->

    <!--&lt;!&ndash;启用注解扫描&ndash;&gt;-->
    <!--<contxt:component-scan base-package="com.lzx.web" />-->

    <!--&lt;!&ndash;启用 mvc 的常用注解&ndash;&gt;-->
    <!--<mvc:annotation-driven>-->
        <!--&lt;!&ndash;@ResponseBody 的 UTF-8 编码&ndash;&gt;-->
        <!--<mvc:message-converters register-defaults="false">-->
            <!--<bean class="org.springframework.http.converter.StringHttpMessageConverter">-->
                <!--<constructor-arg value="UTF-8"/>-->
            <!--</bean>-->
            <!--<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">-->
                <!--<property name="objectMapper">-->
                    <!--<bean class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean">-->
                        <!--<property name="failOnEmptyBeans" value="false"/>-->
                    <!--</bean>-->
                <!--</property>-->
            <!--</bean>-->
        <!--</mvc:message-converters>-->
    <!--</mvc:annotation-driven>-->

    <!--&lt;!&ndash;将所有的静态资源交还 Servlet 处理&ndash;&gt;-->
    <!--<mvc:default-servlet-handler />-->

    <!--&lt;!&ndash;配置返回页面&ndash;&gt;-->
    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
        <!--<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />-->
        <!--<property name="prefix" value="/WEB-INF/jsp/" />-->
        <!--<property name="suffix" value=".jsp" />-->
    <!--</bean>-->

    <!--&lt;!&ndash;配置上传下载&ndash;&gt;-->
    <!--<bean id="multipartResolver" class="org.springframework.web.multipart.support.StandardServletMultipartResolver" />-->
<!--</beans>-->